{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ block.super }} - Sign Up {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<link href="{% static 'css/accounts/style.css' %}" rel="stylesheet">
<div class="body">
  <form method="POST" action="{% url 'sign-up' %}" class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
{% endblock content %}
