{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% include "partials/nav.html" %} 

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="text-center">
                        {% if book.title %} 
                            {{book.title}} 
                        {% else %} 
                            Not found book title.
                        {% endif %}
                    </h5>
                    <a href="" data-toggle="modal" data-target="#productModal">
                        {% for book_image in book_images %}
                            {% if book_image.image %}
                                <img class="img-fluid" src="{{ book_image.image.url }}" />
                            {% else %}
                                <img class="img-fluid" src="https://dummyimage.com/800x800/55595c/fff" />
                            {% endif %}
                        {% endfor %}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    {% if book.special_price %}
                        <p class="price">${{book.special_price}}</p>
                        <p class="price_discounted">${{book.price}}</p>
                    {% else %}
                        <p class="price">${{book.price}}</p>
                    {% endif %}
                    <form action="{% url 'checkout:cart_add' product_id=book.id %}" method="post">
                        <div class="form-group">
                            <label>Quantidade:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                {{ cart_product_form }}
                                <div class="input-group-append">
                                    <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-success btn-lg btn-block text-uppercase" class="fa fa-shopping-cart" type="submit" value="Comprar">
                        {% csrf_token %}
                    </form>
                    <div class="reviews_product p-3 mb-2 ">
                        {% if book.get_count_reviews %}
                            {{book.get_count_reviews}} Avaliação(s)
                            {% if book.get_avg_ratings == 1 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            {% elif book.get_avg_ratings == 2 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            {% elif book.get_avg_ratings == 3 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            {% elif book.get_avg_ratings == 4 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            {% elif book.get_avg_ratings == 5 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            {% else %}
                                The book can not review.
                            {% endif %}
                        {% else %}
                            Nenhuma avaliação
                        {% endif %}
                        <a class="pull-right" href="#reviews">Ver avaliações</a>
                    </div>
                    <div class="datasheet p-3 mb-2 bg-info text-white">
                        <a href="" class="text-white"><i class="fa fa-file-text"></i> Baixar Prévia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-align-justify"></i> Sinopse</div>
                <div class="card-body">
                    <p class="card-text">
                    {% if book.synopsis %} 
                        {{book.synopsis}}
                    {% else %} 
                        Not found synopsis of book. 
                    {% endif%}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-align-justify"></i> Ficha técnica</div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Autores:</strong> 
                        {% for author in book.author.all %}
                            <p class="card-text">
                                {% if author %} 
                                    {{author}}, 
                                {% else %} 
                                    Not found author. 
                                {% endif%}
                            </p>
                        {% endfor %}
                    </p>
                    <p class="card-text">
                        <strong>Número de paginas:</strong> 
                        {% if book.num_of_pages %} 
                            {{book.num_of_pages}} 
                        {% else %} 
                            Not found number of pages of book.
                        {% endif%}
                    </p>
                    <p class="card-text">
                        <strong>Editora:</strong> 
                        {% if book.publishing_company %}
                            {{book.publishing_company}}
                        {% else %}
                            Not found publishing company of book. 
                        {% endif %}
                    </p>
                    <p class="card-text">
                        <strong>Idioma:</strong>
                        {% if book.language %}
                            {{book.language}}
                        {% else %}
                            Not found language of book. 
                        {% endif %}
                    </p>
                    <p class="card-text">
                        <strong>ISBN:</strong> 
                        {% if book.isbn %}
                            {{book.isbn}}
                        {% else %}
                            Not found isbn of book. 
                        {% endif %}
                    </p>
                    <p class="card-text">
                        <strong>Dimensões:</strong> 
                        {% if book.dimensions_of_the_book %}
                            {{book.dimensions_of_the_book}}
                        {% else %}
                            Not found dimensions of the book of book. 
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12" id="reviews">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i> Avaliações</div>
                <div class="card-body">
                {% if book_review %}
                {% for breview in book_review%}
                    <div class="review">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <meta itemprop="datePublished" content="01-01-2016">{{breview.created}}
                        {% if breview.number_of_stars == 1 %}
                            <span class="fa fa-star"></span>
                        {% elif breview.number_of_stars == 2 %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif breview.number_of_stars == 3 %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif breview.number_of_stars == 4 %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif breview.number_of_stars == 5 %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% else %}
                        {% endif %}
                        por <strong>
                        {% if breview.user.first_name %} 
                            {{breview.user.first_name}}
                        {% else %}
                            Not found name user of review.
                        {% endif %}
                        </strong>
                        <p class="blockquote">
                            <p class="mb-0">
                                {% if breview.comment %} 
                                    {{breview.comment}}
                                {% else %}
                                    Not found comment of review.
                                {% endif %}
                            </p>
                        </p>
                        <hr>
                    </div>
                {% endfor %}
                {% else %}
                    Nenhuma avaliação
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var quantity = 1;
        $('.quantity-right-plus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#id_quantity').val());
            $('#id_quantity').val(quantity + 1);
        });
        $('.quantity-left-minus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#id_quantity').val());
            if(quantity > 1){
                $('#id_quantity').val(quantity - 1);
            }
        });
    });
</script>

{% include "partials/footer.html" %}
{% endblock content %}
