{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ block.super }} - Livros {% endblock %}
{% block content %}
{% include "partials/nav.html" %}

<div class="container mt-3">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class=""></i> Livros
                </div>
                <div class="card-body">
                    <div class="row">
                    {% for book in books %}
                        <div class="col-sm-4">
                            <div class="card">
                                <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{ book.get_absolute_url}}" title="View Product">
                                        {% if book.title %} 
                                            {{book.title}}
                                        {% else %}
                                            Not found book title.
                                        {% endif %}
                                        </a>
                                    </h4>
                                    <p class="card-text">
                                        {% if book.short_synopsis %} 
                                            {{book.short_synopsis}}
                                        {% else %}
                                            Not found book short synopsis.
                                        {% endif %}
                                        </p>
                                    <div class="row">
                                        <div class="col">
                                            <p class="btn btn-danger btn-block">
                                                {% if book.price %}
                                                    ${{book.price}}
                                                {% else %}
                                                    Not found book price.
                                                {% endif%}
                                            </p>
                                        </div>
                                        <div class="col">
                                            <a href="{{ book.get_absolute_url}}" class="btn btn-success btn-block">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div> 
                {% include "partials/pagination.html" %}
            </div><br>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}
{% endblock content %}
