{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% include "partials/nav.html" %}

<div class="container">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="text-center">{{book.title}}</h5>
                    <a href="" data-toggle="modal" data-target="#productModal">
                        {% for book_image in book_images %}
                            {% if book_image.image %}
                                <img class="img-fluid" src="{{ book_image.image.url }}" />
                            {% else %}
                                <img class="img-fluid" src="https://dummyimage.com/800x800/55595c/fff" />
                            {% endif %}
                        {% endfor %}
                    </a>
                </div>
            </div>
        </div>
        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    {% if book.special_price %}
                        <p class="price">{{book.special_price}}</p>
                        <p class="price_discounted">{{book.price}}</p>
                    {% else %}
                        <p class="price">{{book.price}}</p>
                    {% endif %}
                    <form method="get" action="cart.html">
                        <div class="form-group">
                            <label>Quantity :</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control"  id="quantity" name="quantity" min="1" max="100" value="1">
                                <div class="input-group-append">
                                    <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <a href="cart.html" class="btn btn-success btn-lg btn-block text-uppercase">
                            <i class="fa fa-shopping-cart"></i> Add To Cart
                        </a>
                    </form>
                    <div class="product_rassurance">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-truck fa-2x"></i><br/>Fast delivery
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-credit-card fa-2x"></i><br/>Secure payment
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-phone fa-2x"></i><br/>+33 1 22 54 65 60
                            </li>
                        </ul>
                    </div>
                    <div class="reviews_product p-3 mb-2 ">
                        {{book.get_count_reviews}} reviews
                        {% if book.get_avg_ratings == 1 %}
                            <i class="fa fa-star"></i>
                        {% elif book.get_avg_ratings == 2 %}
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        {% elif book.get_avg_ratings == 3 %}
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        {% elif book.get_avg_ratings == 4 %}
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        {% elif book.get_avg_ratings == 5 %}
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        {% else %}
                        {% endif %}
                        ({{book.get_avg_ratings}}/5)
                        <a class="pull-right" href="#reviews">View all reviews</a>
                    </div>
                    <div class="datasheet p-3 mb-2 bg-info text-white">
                        <a href="" class="text-white">
                            <i class="fa fa-file-text"></i> Download DataSheet
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Synopsis -->
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-align-justify"></i> Synopsis</div>
                <div class="card-body"><p class="card-text">{{book.synopsis}}</p></div>
            </div>
        </div>
        <div class="col-12">
        <!-- Book information -->
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-align-justify"></i> Book information</div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Author(s):</strong> 
                        {% for author in book.author.all %}
                            <p class="card-text">{{author}}, </p>
                        {% endfor %}
                    </p>
                    <p class="card-text">
                        <strong>Num of pages:</strong> {{book.num_of_pages}}
                    </p>
                    <p class="card-text">
                        <strong>Publishing company:</strong> {{book.publishing_company}}
                    </p>
                    <p class="card-text">
                        <strong>Language:</strong> {{book.language}}
                    </p>
                    <p class="card-text">
                        <strong>ISBN:</strong> {{book.isbn}}
                    </p>
                    <p class="card-text">
                        <strong>Dimensions of the book:</strong> {{book.dimensions_of_the_book}}
                    </p>
                </div>
            </div>
        </div>
        <!-- Reviews -->
        <div class="col-12" id="reviews">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i> Reviews</div>
                <div class="card-body">
                {% for breview in book_review%}
                    <div class="review">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <meta itemprop="datePublished" content="01-01-2016">{{breview.created}}
                        {% if breview.number_of_stars == 1 %}
                            <span class="fa fa-star"></span>
                        {% elif breview.number_of_stars == 2 %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif breview.number_of_stars == 3 %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif breview.number_of_stars == 4 %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif breview.number_of_stars == 5 %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% else %}
                        {% endif %}
                        by <strong>{{breview.user.first_name}}</strong>
                        <p class="blockquote"><p class="mb-0">{{breview.comment}}</p></p>
                        <hr>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var quantity = 1;
        $('.quantity-right-plus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
        });
        $('.quantity-left-minus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            if(quantity > 1){
                $('#quantity').val(quantity - 1);
            }
        });
    });
</script>

{% include "partials/footer.html" %}
{% endblock content %}
