{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Configurações {% endblock %}
{% block content %}
{% include "partials/nav.html" %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" >
                <div class="card-header">Configurações</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <a href="{% url 'accounts:detail' %}">
                            <li class="list-group-item">Painel inicial</li>
                        </a>
                        <a href="{% url 'accounts:edit' token=user.token %}">
                            <li class="list-group-item">Editar conta</li>
                        </a>
                        <a href="{% url 'accounts:list-address' %}">
                            <li class="list-group-item">Livro de endereços</li>
                        </a>
                        <a href=""><li class="list-group-item">Meu pedidos</li></a>
                        <a href=""><li class="list-group-item">Minhas avaliações</li></a>
                        <a href="{% url 'newsletter:new-newsletter' %}">
                            <li class="list-group-item">Assinar newsletter</li>
                        </a>
                        <a href="{% url 'newsletter:list-newsletter' %}">
                            <li class="list-group-item">Lista de assinaturas</li>
                        </a>
                    </ul>
                </div> 
            </div>
            <br/>
        </div>
        {% block dashboard %}
        {% endblock %}
    </div>
</div>

{% include "partials/footer.html" %}
{% endblock content %}
