{% extends 'accounts/dashboard.html' %}
{% load staticfiles %}
{% block title %} {{ block.super }} - Minha conta {% endblock %}
{% block dashboard %}

<div class="col-sm-8">
    <div class="card">
        <div class="card w-85">
            <div class="card-body">
                <h5 class="card-title">Informações pessoais</h5>
                {% if user_information %}
                    {% for user in user_information %}
                        <p class="card-text">
                            <strong>Olá, {{user.first_name}}!</strong>
                        </p>
                        <p>No Painel de Configurações, você tem a capacidade de atualizar as informações da sua conta. Selecione um link abaixo para visualizar ou editar informações.</p>
                    {% endfor %}
                {% else %}
                    Not found user information
                {% endif %}
            </div>
        </div>
        <div class="card w-85">
            <div class="card-body">
                <h5 class="card-title">Informações de contato</h5>
                {% if user_information %}
                    {% for user in user_information %}
                        <p class="card-text">
                            <i>Nome completo:</i> {{user.first_name}} {{user.last_name}} / 
                            <i>CPF:</i> {{user.tax_vat_number}} / 
                            <i>Telefone:</i> {{user.phone_number}} / 
                        </p>
                        <p class="card-text">
                            <i>Email: </i>{{user.email}} /
                            <i>Empresa:</i> {{user.company}}
                            <a href="{% url 'accounts:edit' token=user.token %}"><i> Editar</i></a>
                        </p>
                    {% endfor %}
                {% else %}
                    Not found user information
                {% endif %}
            </div>
        </div>
        <div class="card w-85">
            <div class="card-body">
                <h5 class="card-title">Endereço de entrega</h5>
                {% if shipping_address_information %}
                    {% for s in shipping_address_information %}
                        <p class="card-text">
                            {{s.streets_in_line}}/ {{s.postal_code}} - {{s.region_in_line}}
                            <a href="{% url 'accounts:new-address' %}"><i> Novo</i></a>
                        </p>
                    {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </div>
        <div class="card w-85">
            <div class="card-body">
                <h5 class="card-title">Endereço de cobrança</h5>
                {% if shipping_address_information %}
                    {% for b in billing_address_information %}
                        <p class="card-text">
                            {{b.streets_in_line}}/ {{b.postal_code}} - {{b.region_in_line}}
                            <a href="{% url 'accounts:new-address' %}"><i> Novo</i></a>
                        </p>
                    {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </div>
    </div><br/>
</div>

{% endblock dashboard %}
