{% extends 'accounts/dashboard.html' %}
{% load staticfiles %}
{% block title %} {{ block.super }} - Minha conta {% endblock %}
{% block dashboard %}

<div class="col-sm-8">
    <div class="card">
        <div class="card w-85">
            <div class="card-body">
                <h5 class="card-title">Informações pessoais</h5>
                {% if user_information %}
                    {% for user in user_information %}
                        <p class="card-text">
                            <strong>Olá, {{user.first_name}} {{user.last_name}}!</strong>
                        </p>
                        <p>No Painel de Configurações, você tem a capacidade de atualizar as informações da sua conta. Selecione um link abaixo para visualizar ou editar informações.</p>
                    {% endfor %}
                {% else %}
                    Not found user information
                {% endif %}
            </div>
        </div>
        <div class="card w-85">
            <div class="card-body">
                <h5 class="card-title">Informações de contato</h5>
                {% if user_information %}
                    {% for user in user_information %}
                        <p class="card-text">
                            <i>Telefone:</i> {{user.phone_number}} - 
                            <i>CPF:</i> {{user.tax_vat_number}} - 
                            <i>Empresa:</i> {{user.company}}
                        </p>
                        <p class="card-text">
                            <i>Email: </i>{{user.email}}
                            <a href="{% url 'account:customer-account-edit' token=user.token %}">
                                <i> Change account</i>
                            </a>
                        </p>
                    {% endfor %}
                {% else %}
                    Not found user information
                {% endif %}
            </div>
        </div>
        <div class="card w-85">
            <div class="card-body">
                <h5 class="card-title">Default Shipping Address</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
        <div class="card w-85">
            <div class="card-body">
                <h5 class="card-title">Default Billing Address</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div><br/>
</div>

{% endblock dashboard %}
