{% extends 'accounts/dashboard.html' %}
{% load staticfiles %}
{% block title %} {{ block.super }} - Livro de endereços {% endblock %}
{% block dashboard %}

<div class="col-sm-8">
    {% include "partials/success_messages.html" %}
    <div class="card">
        <div class="card w-85">
            <div class="card-body">
                <h5 class="card-title">Lista de endereços 
                    <a style="float: right"href="{% url 'accounts:new-address' %}">Novo</a>
                </h5>
                {% if user_address %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">CEP</th>
                            <th scope="col">Rua/Bairro</th>
                            <th scope="col">Cidade/UF/País</th>
                            <th scope="col">End. Cobrança?</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for address in user_address %}
                        <tr>
                            <td>{{address.postal_code}}</td>
                            <td>{{address.streets_in_line}}</td>
                            <td>{{address.region_in_line}}</td>
                            <td>{% if address.is_billing_address == 1 %} Sim {% else %} Não {% endif %}</td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'accounts:del-address' id=address.id %}">
                                    <em class="fa fa-trash"></em>
                                </a>
                                    <a class="btn btn-primary" href="{% url 'accounts:edit-address' id=address.id %}">
                                    <em class="fa fa-edit"></em>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>Nenhum endereço cadastrado!</p>
                {% endif %}
            </div>
            {% include "partials/pagination.html" %}
        </div>
    </div><br/>
</div>

{% endblock dashboard %}
