{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %} {{ block.super }} - Entrar {% endblock %}
{% block content %}

<link href="{% static 'css/accounts/style.css' %}" rel="stylesheet">
<div class="body">
    <form method="POST" action="{% url 'accounts:login' %}" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1><hr>
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button><hr>
        <a href="{% url 'base:index' %}">Voltar</a>
  </form>
</div>

{% endblock content %}
